body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
   background-color:black;
overflow: hidden;
}
.main{
    display:flex;
height: 100vh;
padding: 0.5rem;
}

.sidebar{
    background-color:black;
    width:380px;
       border-radius: 1rem;
       color: aliceblue;
       margin-right: 0.5rem;
 
}
.main-content {
    background-color: #121212;
    flex:1;
       border-radius: 1rem;
overflow: auto;
       padding: 0 1.5rem 0 1.5rem;
}


a{
    text-decoration: none;
    color: white;

}
.nav{
    background-color:#1f1f1f;
    border-radius:1rem;
    display: flex;
    flex-direction:column;
    height:100px;
    padding:0.5rem 0.75rem;
  

}
.nav-option{
          line-height:2.5rem;
          opacity: 0.7;
           padding:0.5rem 0.75rem;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size:1rem;
margin-left:1rem;
}
.nav-option:hover{
    opacity: 1;
}
.library{
    background-color: #121212;
   border-radius: 1rem;
   height:100%;
   margin-top:0.5rem;
   padding:0.5rem 0.75rem;
   
}
.options{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width:1.25rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
opacity: 0.75;
margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
background-color: #1f1f1f;
    height:9rem;
    border-radius: 0.75rem;
    margin:2.5rem 0rem 0;
    padding:1rem 1.25rem;
}
.box-p1{
font-size: 1rem;
font-weight: 700;

}
.box-p2{
font-size: 0.85rem;
opacity: 0.9;

}
.badge{
    background-color: white;
    border: none;
    font-weight: 700;
    border-radius: 100px;
    padding:0.25rem 1rem;
    height: 2rem;
    width: fit-content;
    margin-top: 0.5rem;
    cursor: pointer;
}
.dark{
    background-color: black;
    color: white;
}
.sticky-nav{
    position: sticky;
    top:0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 1rem 0;
    z-index: 10;
}
.nav-item{
    margin-right: 0.75rem;
}
.sticky-nav-icons img{
    font-size: 2rem;
}
@media (max-width:1000px){
    .hide{
        display:none;
    }
}
.card{
    background-color:#1f1f1f;
    width:190px;
    border-radius: 0.5rem;
    color: white;
    padding:1rem;
    margin-left:1.5rem;
    margin-bottom: 1rem;
   
}
.card-container{
    display:flex;
    flex-wrap: wrap;
  
}
.card-img{
    width:100%;
    border-radius:0.5rem;
}
.music-player{
    background-color: rgb(0, 0, 0);
    position:fixed;
    bottom:0;
    width:100%;
    height:80px;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity:0.8;
}
.footer{
    height:300px;
display:flex;
align-items: center;
justify-content: center;
}
.line{
    width:90%;
    height:30%;
    border-top: 1px solid white;
    opacity:0.4;
}
.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width:25%
}

.player {
    width: 50%;
}

.controls {
    width: 25%;
    padding-right: 10px;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.7rem;;
}
.album-info{
color: aliceblue;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
    cursor: pointer;
    color: white;
}

@media (max-width: 500px) {
    .player-control-icon{
        margin-right: 0.9rem
    }
    .player {
        padding-right: 2rem;
    }
}

.player-control-icon:hover {
    opacity: 1;
    cursor: pointer;
}


.progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 60%;
    /* height: 4px; */
    appearance: none;
    cursor: pointer;
    border-radius: 100px;
}


.progress-bar::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #1bd760 50%, #ddd 50%);
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-runnable-track:hover {
    background-color: #1bd760;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #1bd760;
    margin-top: -3px;
}
.progress-bar::-webkit-slider-thumb:hover {
    appearance: none;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: -4px;
}

@media (max-width: 800px) {
    .progress-bar {
        width: 50%;
    }
}

::selection {
    background-color: #00ab3f;
    color: white;
}

.album {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.track-cover {
    width: 3.5rem;
    border-radius: 20%;
    padding: 20px;
    cursor: pointer;
}
.album-info {
    margin-right: 10px;
}

.track-title {
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0;
    cursor: pointer;
}
.track-dis {
    font-weight: 400;
    font-size: 1rem;
    opacity: 0.6;
    margin: 0;
    cursor: pointer;
}
.track-dis:hover {
    opacity: 1;
    font-size: 500;
    font-size: 1.05rem;
}

.track-title:hover {
    opacity: 1;
    font-weight: 700;
    font-size: 1.35rem;
}

.album-options {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.album-options-icon {
    font-size: 1.30rem;
    padding-right: 10px;
    opacity: 0.5;
    color: #ffffff;

}
.album-options-icon:hover {
    font-size: 1.35rem;
    opacity: 1;
        cursor: pointer;
}

@media (max-width: 800px) {
    .hide2{
        display: none;
    }
}

@media (max-width: 500px) {
    .track-title{
        font-size: 0.1rem;
    }
    .track-dis{
        font-size: 0.1rem;
    }
    
}


@media (max-width: 600px) {
    .track-title{
        font-size: 0.8rem;
    }
    .track-dis{
        font-size: 0.7rem;
    }
}

@media (max-width: 1000px) {
    .controls {
        display: none;
    }
}
@media (max-width: 420px) {
    .album {
        display: none;
    }
    .player {
        padding: 0 0 0 100px;
    }
}


@media (max-width: 1150px) {
    .track-title{
        font-size: 1rem;
    }
    .track-dis{
        font-size: 0.9rem;
    }
    .controls {
        font-size: 1rem;
    }
}

.controls {
    font-size: 1.2rem;
    padding-right: 10px;
     color: white;
}
@media (max-width: 1150px) {
    .controls {
        font-size: 0.8rem;
    }
}
.controls i {
    opacity: 1;
    color: white;
    margin-right: 0.3rem;
}

.controls i:hover {
    opacity: 1;
}

.volume {
    -webkit-appearance: none; /* Remove default styling */
    width: 90px;
    height: 6px;
    background: linear-gradient(to right, #1bd760 50%, #ddd 50%);
    border-radius: 10px;
    cursor: pointer;
    
}
  
  /* Handle (thumb) styling */
.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.7rem;
    height: 0.7rem;
    background: #1bd760;
    border-radius: 50%;
    cursor: pointer;
}
  
.volume::-webkit-slider-thumb:hover {
    background: #ffffff;
    transform: scale(1.1);
}
  

